INSTITUT      = Observatoire de Paris-Meudon
CODE          = trackfil
FEATURE_NAME  = filaments
CONTACT       = xavier dot bonnin at obspm dot fr
REFERENCE     = doi:10.1007/s11207-012-9985-9
OBSERVAT      = Meudon Observatory
TELESCOP      = Spectroheliograph  
INSTRUME      = Spectroheliograph
LMIN          = 5
DS            = 1
RMAX          = 5
THRESHOLD     = 0.5
A0            = 5.0
THETA0        = 30
D0            = 4
DT0           = 112
HG_LONG_LIM   = 70
